[submodule "package/luci-app-aurora-config"]
	path = package/luci-app-aurora-config
	url = https://github.com/eamonxg/luci-app-aurora-config.git
[submodule "package/luci-theme-aurora"]
	path = package/luci-theme-aurora
	url = https://github.com/eamonxg/luci-theme-aurora.git
[submodule "package/luci-app-lanspeed"]
	path = package/luci-app-lanspeed
	url = https://github.com/qimaoww/luci-app-lanspeed.git
